.card {
    max-width: 100%; /* Adjust as needed */
    /* margin: 20px auto; */
    height: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;       /* Ensures the image takes up the full width of the container */
    height: 250px;     /* Sets a fixed height */
    object-fit: cover; /* Crops the image to fit within the dimensions */
}

.card:hover {   
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    /* padding: 1rem; */
    overflow: hidden;       /* Ensures content doesn’t overflow */
    text-overflow: ellipsis;
    align-items: center;
}

.hero-wrap {
    position: relative;
    overflow: hidden;
}

.hero-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/img/background1.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1px); /* Adjust the blur intensity as needed */
    z-index: -1;
    padding: 5em 0;
    margin: 0 5%;
}

.hero-content {
    position: relative;
    z-index: 1;
}
.card-footer{
    display: flex;
    flex-direction: column;   /* Aligns buttons vertically */
    align-items: center;  /* Aligns buttons to the left */
    gap: 5px;
}
.popup-message {
  position: fixed;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  width: 300px;
  height: 80px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.popup-message.visible {
  display: block;
  opacity: 1;
}
.hidden {
    display: none;
}
.product-already-added {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    width: 250px;
    height: 100px;
    text-align: center;
  }
  
  .product-already-added.visible {
    display: block;
    opacity: 1;
  }